<div class="container">
<div class="bajar"></div>
<div class="card transparente">
		<div class="card-content">
			<h1 class="title center-align black-text">Medidas</h1>
			<%= render 'form', measurement: @measurement %>
		</div>

	</div>	

	
<div class="center">
	<a class="tooltipped btn-floating btn-large waves-effect waves-light teal" href="https://drive.google.com/file/d/1WptNVC5yXNTSwXtm58AwrkYv6wOB7E-r/view " target="_blank" data-position="bottom" data-tooltip="Ver recomendaciones generales"><i class="material-icons">library_books</i></a>

	
</div>
</div>