<div class="container">

<div class="card transparente">
		<div class="card-content">
			<h1 class="title center-align black-text">Medidas</h1>
			<%= render 'form', measurement: @measurement %>
		</div>
	</div>	

	

	
</div>